@import "~antd/dist/antd.css";

body {
  background-color: #484a4f;
}

.ant-layout-header {
  height: 79px;
  line-height: 77px;
  background-color: rgb(52, 53, 58);
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
}

.ant-card{
  background: #707276;
}
.app-content {
  background-color: #34353ae3;
}

.ant-row{
  color: white;
}

.ant-menu-horizontal > .ant-menu-item > a{
  color:rgb(234 234 234 / 65%);

}

.ant-menu-horizontal > .ant-menu-item {
  color:rgb(234 234 234 / 65%);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
  font-weight: 500;
}